<!-- Sidebar Menu Start -->
<ul class="nav navbar-nav iq-main-menu mb-5 pb-5" id="sidebar-menu" role="tablist">
    <h6 class="mb-3 pb-1">Recent Chats</h6>
    {{> partials/components/widgets/chat-widgets/user-list id="101" status="online"  className="active"  userName="Paul Molive" lastMessage="03:20 PM" userProfileImg="avatar/01.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="102" status="online"  userName="John Travolta" lastMessage="01:10 PM" userProfileImg="avatar/02.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="103" status="online"  userName="Barb Ackue" lastMessage="05:09 AM" userProfileImg="avatar/03.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="104" status="online"  userName="Robert Fox" lastMessage="01:10 PM" userProfileImg="avatar/04.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="105" status="offline"  userName="Maya Didas" lastMessage="01:10 PM" userProfileImg="avatar/05.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="106" status="online"  userName="Monty Carlo" lastMessage="01:10 PM" userProfileImg="avatar/06.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="107" status="online"  userName="Paige Turner" lastMessage="01:10 PM" userProfileImg="avatar/07.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="108" status="offline"  userName="Arnold Schwarzenegger" lastMessage="01:10 PM" userProfileImg="avatar/08.png" userMessage="Lorem ipsum"}}
    {{> partials/components/widgets/chat-widgets/user-list id="109" status="online"  userName="Leonardo DiCaprio" lastMessage="01:10 PM" userProfileImg="avatar/09.png" userMessage="Lorem ipsum"}}
</ul>
<!-- Sidebar Menu End -->
