
{{!-- layouts/base.hbs --}}

<!doctype html>
<html lang="en" class="theme-fs-md">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }} | Responsive Bootstrap 5 Admin Dashboard Template</title>
      {{> partials/head }}
      {{#block "head"}}
        {{!-- External page head section--}}
      {{/block}}
  </head>
  <body class="{{bodyClass}}">
    <!-- loader Start -->
    <div id="loading">
      {{> partials/loader }}
    </div>
    <!-- loader END -->
    
      <div class="wrapper">
        {{#block "content"}}
        {{/block}}
      </div>
    
    {{> partials/scripts }}
    {{#block "scripts"}}
    {{/block}}
  </body>
</html>