<div class="messanger-box position-relative d-inline-block">
    <img src="{{path}}assets/images/{{messanger-userimage}}" class="avatar-48 object-cover rounded-circle" alt="messanger-image">
</div>
<p class="mt-2 mb-0 font-size-14 custom-ellipsis text-body">{{messanger-name}}</p>

